.draw{bottom:173px}#draw-status p{color:#000}#draw-warn p{color:#ffa824}#draw-err p{color:red}#drawgraph{height:530px;width:700px;margin:0 auto;margin-left:-350px;margin-top:-215px}#drawgraph #main{padding:5px 15px}#drawgraph-actions{padding-left:50px;bottom:200px;left:200px;float:left}#drawgraph-actions p{padding:10px;cursor:pointer;float:left}#drawgraph-actions #drawgraph-form{padding:10px;cursor:pointer;float:left}#drawgraph-actions p:hover{background:#000;color:#fff}#drawgraph-actions p:first-of-type{padding-top:10px}#drawgraph-actions p:last-of-type{padding-bottom:10px}#drawgraph-actions-hide{bottom:60px;left:0;padding-left:14px;padding-right:15px}

body{
    background-color: whitesmoke;
    color: #fff;
    text-align: center;
}

section{
    align-items: center;
    margin-top: 0;
    width: 100%;
}
h1{
    color: black;
    font-size: 400%;
    text-shadow: 10px 5px 0px  rgb(177, 236, 238),
                 -10px -5px 0px  rgb(177, 236, 238);
}

div{
    position: block;
    margin-top: 0px;
    float: left;
    width: 4.6667%;
    margin: 1%;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    animation: 10s;
}

#divMax{
    width: 100%;
    background-color: aquamarine;
}

#divMin{
    width: 100%;
    background-color: aquamarine;
}

.jsEstilo{
    position: relative;
    float: left;
}

input{
    font-size: 200%;
    color: cadetblue;
    background-color: black;
}