.titulo{
    font-family:cursive;
}

.tituloInciso{
    background: rgb(80, 80, 80);
}

.descriInciso{
    background: rgb(211, 210, 210);
}

.imagenPerfil{
    width: 200px;
}

#HTML, #CSS, #JS, #PHP, #CPP, #CS, #Java, #SQL  {
    max-width: 100%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width:10px;
    color: white;
  }
  
  .fa:hover {
      opacity: 1;
  }
  