
body {
    margin-left: 5%;
    margin-right: 5%;
}

header{
    width: 100%;
    text-align: center;
    font-family: 'Courier New';
    width: 100%;
    background-color: aqua;
    text-align: center;
}

nav{
    margin-left: 0%;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

ul{
    list-style: none;
}

li {
    float: left;
    margin-left: 10px;
}

br{
    font-size: 10px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slider ul {
	display: flex;
    width: 400%;
	animation: cambio 10s infinite alternate linear;
    margin: 0;
}

.slider li {
	width: 100%;
	list-style: none;
    background-color: white;
    margin: 0;
}

.slider img {
    max-width: 100%;
    width: 90%;
    height: 200px;
    margin: 0;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

section{
    float: left;
    height: 50%;
    background: aliceblue;
    width: 60%;
    padding: 2%;
    display: inline-block;
}

article aside{
    float: right;
    position: relative;
    right: 0;
    width: 30%;
    height: 100%;
    background: whitesmoke;
    padding: 2%;
}

footer{
    position: fixed;
    background-color: aqua;
    width: 100%;
    bottom: 0px;
    text-align: center;
}